/* Colors */
@color-main: red;
@color-dark: #1A1A1A;
@color-inactive: lightgray;

@text-color: @color-dark;
@link-color: @color-main;
@default-body-color: white;
@default-font-size: 16px;

/* Dimensions */
@max-content-width: 1143px;
@default-margin: 32px;

/* Fonts */
@default-font-family: 'sans-serif';
@default-title-family: 'sans-serif';

/* Breakpoints */
@breakpoint-s: 768px;
@breakpoint-m: 992px;
@breakpoint-l: 1200px;

/* Inputs */
@input-border: 2px solid @color-inactive;
@input-border-radius: @default-font-size / 8;
@input-padding: @default-font-size - ( @default-font-size / 4 );
@input-focus-color: rgb(59, 153, 252);

/* Shadow */
@default-shadow: 0 1px 2px @color-dark;