.margin-style {

    &.-margin-l-s {
        margin-left: @default-margin/2;
    }
    &.-margin-r-s {
        margin-right: @default-margin/2;
    }
    &.-margin-t-s {
        margin-top: @default-margin/2;
    }
    &.-margin-b-s {
        margin-bottom: @default-margin/2;
    }
    &.-margin-s {
        margin: @default-margin/2;
    }

    // normal
    &.-margin-l {
        margin-left: @default-margin;
    }
    &.-margin-r {
        margin-right: @default-margin;
    }
    &.-margin-t {
        margin-top: @default-margin;
    }
    &.-margin-b {
        margin-bottom: @default-margin;
    }
    &.-margin-m {
        margin: @default-margin;
    }

    // large
    &.-margin-l-l {
        margin-left: @default-margin*2;
    }
    &.-margin-r-l {
        margin-right: @default-margin*2;
    }
    &.-margin-t-l {
        margin-top: @default-margin*2;
    }
    &.-margin-b-l {
        margin-bottom: @default-margin*2;
    }
    &.-margin-l {
        margin: @default-margin*2;
    }

}