.padding-style {

    &.-padding-l-s {
        padding-left: @default-margin/2;
    }
    &.-padding-r-s {
        padding-right: @default-margin/2;
    }
    &.-padding-t-s {
        padding-top: @default-margin/2;
    }
    &.-padding-b-s {
        padding-bottom: @default-margin/2;
    }
    &.-padding-s {
        padding: @default-margin/2;
    }

    // normal
    &.-padding-l {
        padding-left: @default-margin;
    }
    &.-padding-r {
        padding-right: @default-margin;
    }
    &.-padding-t {
        padding-top: @default-margin;
    }
    &.-padding-b {
        padding-bottom: @default-margin;
    }
    &.-padding-m {
        padding: @default-margin;
    }

    // large
    &.-padding-l-l {
        padding-left: @default-margin*2;
    }
    &.-padding-r-l {
        padding-right: @default-margin*2;
    }
    &.-padding-t-l {
        padding-top: @default-margin*2;
    }
    &.-padding-b-l {
        padding-bottom: @default-margin*2;
    }
    &.-padding-l {
        padding: @default-margin*2;
    }

}