.text-style {
    &.-first-level {
        font-size: 2em;
        font-weight: bold;
    }

    &.-second-level {
        font-size: 1.65em;
        font-weight: bold;
    }

    &.-third-level {
        font-size: 1.25em;
        font-weight: bold;
    }

    &.-fourth-level {
        font-size: 1.25em;
        font-weight: normal;
    }
}